<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}

<html lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type='text/css' href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="https://cccabinet.jpn.org/bootstrap4/css/style.css">
<title>Django開発サンプル</title>

{% block extra_css %}{% endblock %}

</head>

<body>
    <!-- ↓↓1番上のナビゲーションバー↓↓ -->
    <div class="container-fluid">
        <div class="row">
        <div class="col-12">
            <nav class
        </div>
        </div>

    </div>
</body>

</html>